# Dependencies
node_modules/
yarn.lock
package-lock.json
.pnp
.pnp.js

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.cer
.cxx/
*.hprof

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
lerna-debug.log*

# macOS
.DS_Store
*.pem
.AppleDouble
.LSOverride

# Local env files
.env*.local
.env
.env.development
.env.test
.env.production

# Typescript
*.tsbuildinfo
next-env.d.ts

# Android
android/
*.apk
*.aab
.gradle
local.properties
*.iml
.idea/
captures/
.externalNativeBuild
.cxx
*.ap_
*.dex

# iOS
ios/
*.ipa
*.xcworkspace
*.xcuserdata
Pods/
*.moved-aside
DerivedData
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Testing
coverage/
.nyc_output
*.lcov

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath
.settings/
*.sublime-workspace
*.sublime-project

# Logs
logs/
*.log

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Temporary files
tmp/
temp/
*.tmp
*.temp

# Build outputs
build/
out/
